@import '~ngx-toastr/toastr.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* global color  */
:root {
    --theme-color: #0b053a;
    --secondary-theme-color: #084298;

	--primary-text-color: #2D3748;
	--secondary-text-color: #A0AEC0;
	

    --primary-color: #3891DE;
    --success-color: #68D391;
    --warning-color: #F8AF29;
    --danger-color: #e23434;
	--info-color: #5247D1;
	
	--light-blue-color: #52C2ED;
	--custom-green-color: #65B5AC;
	--brown-color: #782C21;
    --pink-color: #C07CF2;
	
	--button-color: #2195F2;

	--light-primary-color: #EDF7FF;
	--light-success-color: #E4F2DF;
	--light-warning-color: #FDF2DE;
	--light-danger-color: #FFD8D8;
	--light-info-color: #E4E2F7;
	--light-brown-color: #EADEDD;
}

/* styling scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 3px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #a5aaad;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #6c757d;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #87929d;
}

/* global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background: #fff;
    text-decoration: none;
    list-style-type: none;
	font-size: 11px;
    font-weight: 400;
    color: var(--primary-text-color);
}
.toast-success {
    background-image: none !important;
    background-color: var(--success-color) !important;
}
.toast-info {
    background-image: none !important;
    background-color: var(--primary-color) !important;
}
.toast-error {
    background-image: none !important;
    background-color: var(--danger-color) !important;
}
.toast-warning {
    background-image: none !important;
    background-color: var(--warning-color) !important;
}
.small, small {
	font-size: 80% !important;
}
.theme-link {
    color: var(--theme-color) !important;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease;
}
.theme-link:hover {
    opacity: .8;
}
.gradient-border {
    border: 1px solid transparent;
	border-image: linear-gradient(315deg, rgba(171, 171, 171, 0.32) -0.09%, rgba(255, 255, 255, 0.32) 28.56%);
	border-image-slice: 30;
    filter: drop-shadow(0px 3.5px 5.5px rgba(0, 0, 0, 0.02));
}
/* all buttons start */
button {
    font-size: 10px;
    font-weight: 600;
}
button:disabled {
    opacity: .6;
    cursor: not-allowed;
}
button:disabled:hover {
    transform: scale(1);
}
.theme-button {
    border: none;
    outline: none;
    padding: 5px 25px;
    border-radius: 5px;
    background: linear-gradient(81.62deg, #313860 2.25%, #151928 79.87%);
    color: #fff;
    transition: all 0.3s ease;
}
.theme-button:hover {
    background: linear-gradient(81.62deg, #06398c 2.25%, #061f48 79.87%);
    box-shadow: 0 2px 5px #00000015;
}
.theme-outline-button {
    border: 1px solid var(--theme-color);
    outline: none;
    padding: 5px 25px;
    border-radius: 5px;
    background: transparent;
    color: var(--theme-color);
    transition: all 0.3s ease;
}
.theme-outline-button:hover {
    background: var(--theme-color);
    color: #fff;
}
.success-button {
    background: var(--success-color);
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: 700;
    border-radius: 4px;
    padding: 5px 20px;
    transition: all 0.3s ease;
}
.success-button:hover {
    transform: scale(.97);
}
/* all buttons end */

.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.gap-3 {
    gap: 3px !important;
}
.gap-5 {
    gap: 5px !important;
}
.gap-10 {
    gap: 10px !important;
}
.gap-15 {
    gap: 15px !important;
}
.gap-20 {
    gap: 20px !important;
}
.gap-25 {
    gap: 25px !important;
}
.gap-30 {
    gap: 30px !important;
}
.hide {
    display: none;
}
.w-20 {
    width: 20px !important;
}
.w-25 {
    width: 25px !important;
}
.w-40 {
    width: 40px !important;
}
.w-50 {
    width: 50px !important;
}
.w-60 {
    width: 60px !important;
}
.w-75 {
    width: 75px !important;
}
.w-80 {
    width: 80px !important;
}
.w-100 {
    width: 100px !important;
}
.h-20 {
    height: 20px !important;
}
.h-25 {
    height: 25px !important;
}
.h-40 {
    height: 40px !important;
}
.h-50 {
    height: 50px !important;
}
.h-60 {
    height: 60px !important;
}
.h-75 {
    height: 75px !important;
}
.h-80 {
    height: 80px !important;
}
.h-100 {
    height: 100px !important;
}
.weight-300 {
    font-weight: 300 !important;
}
.weight-400 {
    font-weight: 400 !important;
}
.weight-500 {
    font-weight: 500 !important;
}
.weight-600 {
    font-weight: 600 !important;
}
.weight-700 {
    font-weight: 700 !important;
}
.font-9 {
    font-size: 9px !important;
}
.font-10 {
    font-size: 10px !important;
}
.font-11 {
    font-size: 11px !important;
}
.font-12 {
    font-size: 12px !important;
}
.font-13 {
    font-size: 13px !important;
}
.font-14 {
    font-size: 14px !important;
}
.font-15 {
    font-size: 15px !important;
}
.font-18 {
    font-size: 18px !important;
}
.font-20 {
    font-size: 20px !important;
}
/* .no-border {
    border: none !important;
} */
/* background color start */
.bg-theme {
    background: var(--theme-color) !important;
}
.bg-primary {
    background: var(--primary-color) !important;
}
.bg-success {
    background: var(--success-color) !important;
}
.bg-warning {
    background: var(--warning-color) !important;
}
.bg-danger {
    background: var(--danger-color) !important;
}
.bg-info {
    background: var(--info-color) !important;
}
/* background color end */

/* text color start */
.text-theme {
    color: var(--theme-color) !important;
}
.primary-text-color {
    color: var(--primary-text-color) !important;
}
.secondary-text-color {
    color: var(--secondary-text-color) !important;
}
.text-light {
    color: #646464 !important;
}
.text-primary {
    color: var(--primary-color) !important;
}
.text-success {
    color: var(--success-color) !important;
}
.text-warning {
    color: var(--warning-color) !important;
}
.text-danger {
    color: var(--danger-color) !important;
}
.text-info {
    color: var(--info-color) !important;
}
.text-capitalize {
    text-transform: capitalize;
}
/* text color end */

/* sidebar start */
.sidebar {
	height: 100vh;
	width: 200px;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1000;
	background: var(--theme-color);
	color: #fff;
	overflow-y: auto;
	transition: width 500ms;
}
.sidebar .brand-logo {
    text-align: center;
    padding: 10px;
	margin-left: -55px;
}
.sidebar .brand-logo img {
    width: 45%;
}
.sidebar-menu li {
	/*margin-bottom: 20px;*/
	list-style-type: none;
	cursor: pointer;
}
.sidebar-menu ul {
	padding-left: 0px !important;
    padding: 10px 0;
}
.sidebar-menu .menu-header {
	font-weight: 900;
	color: var(--primary-text-color);
	padding: 12px 35px;
	line-height: 40px;
}
.sidebar-menu li a {
	color: #fff;
	text-decoration: none;
	font-size: 12px;
	font-weight: 400;
	display: flex;
    align-items: center;
    /* border-radius: 8px; */
    padding: 10px 25px;
    /* margin: 10px; */
    transition: all 0.3s ease;
}
.sidebar-menu li a .material-icons {
    font-size: 15px;
}
.sidebar-menu li.active {
	background: #fff;
}
.sidebar-menu li.active a {
	color: var(--theme-color);
    font-weight: 600;
}
.sidebar-menu li a:hover {
	transform: scale(.95);
}
/* sidebar end */

/* header start */
header {
    z-index: 100;
    position: fixed;
    width: calc(100vw - 200px);
    background: #fff;
    top: 0;
    padding: 0 30px;
    left: 200px;
}
.auth-info {
    background: #f8f9fa;
    border-radius: 6px;
    border: none;
    padding: 5px 15px;
    /* border: 1px solid #f3f3f3; */
}
.auth-info img {
    width: 25px;
    height: 25px;
    border-radius: 6px;
}
.main-header .header-title {
    padding: 10px 0;
}
.main-header .header-title {
	font-size: 12px;
	font-weight: 500;
	color: var(--secondary-text-color);
}
.main-header .header-title .header-title-txt {
    font-weight: 700;
	color: var(--primary-text-color);
}

/* header end */
main {
    height: calc(100vh - 60px);
	width: calc(100vw - 200px);
	position: fixed;
	left: 200px;
	top: 60px;
    padding: 20px 30px;
    overflow: auto;
}
.login-container-left {
    width: 50%;
    height: 100vh;
    position: relative;
}
.login-container-left img {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.login-container-right {
    width: 50%;
    height: 100vh;
    background: var(--theme-color);
    position: relative;
}
.login-container-right .login-body {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.login-container-right .login-body .login-body-head {
    color: #0dcaf0;
    margin-bottom: 25px;
}
.login-container-right .login-body .login-body-head span::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 48px;
    background: var(--warning-color);
    top: -5px;
    left: 0;
}
.login-container-right .login-form label {
    color: #adb5bd;
    margin-bottom: 3px;
}
.login-container-right .login-form input,
.login-container-right .login-form select {
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 11px;
    font-weight: 600;
    color: var(--primary-text-color);
}
.login-container-right .login-form .form-group:not(:last-child) {
    margin-bottom: 10px;
}
.authInfo-drop {
    border: none;
    border-radius: 6px;
    box-shadow: 0 2px 10px #00000015;
    padding: 7px 15px;
    transform: translate(-10px, 45px) !important;
}
.authInfo-drop a .material-icons-outlined {
    font-size: 16px;
}
.inv-tableFixed {
    overflow-y: auto;
    height: calc(100vh - 100px);
}
table.inv-table {
    border-collapse: collapse;
    width: 100%;
}
table.inv-table thead {
    height: 30px;
}
table.inv-table thead tr th {
    background: #f8f9fa;
    color: var(--secondary-text-color);
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    position: sticky;
    top: 0;
}
table.inv-table thead tr th {
    padding: 7px 15px;
}
table.inv-table tbody tr td {
    font-weight: 500;
}
table.inv-table thead tr th:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
table.inv-table thead tr th:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
table.inv-table tbody tr td {
    padding: 5px 15px;
}
table.inv-table tbody tr:not(:last-child) {
    border-bottom: 1px solid #f8f9fa;
}
.action-button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
.action-button .material-icons-outlined {
    font-size: 17px;
    color: #e0e0e0;
    transition: all 0.3s ease;
}
.action-button.edit:hover .material-icons-outlined {
    color: var(--primary-color);
}
.action-button.delete:hover .material-icons-outlined {
    color: var(--danger-color);
}
.active-badge {
    background: var(--light-success-color);
    color: var(--success-color);
    font-weight: 600 !important;
    border-radius: 20px;
    padding: 3px 7px;
    width: fit-content;
}
.inactive-badge {
    background: var(--light-danger-color);
    color: var(--danger-color);
    font-weight: 600 !important;
    border-radius: 20px;
    padding: 3px 7px;
    width: fit-content;
}
.search-input {
    background: #f9fafb;
    padding: 0 10px;
    border-radius: 6px;
    flex: .5;
}
.search-input input {
    border: none;
    outline: none;
    background: #f9fafb;
    padding: 6px;
    font-size: 10px;
    width: 100%;
}
.search-input input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: var(--secondary-text-color);
}
.search-input input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: var(--secondary-text-color);
}
.search-input input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: var(--secondary-text-color);
}
.search-input input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: var(--secondary-text-color);
}
.search-input input::-ms-input-placeholder { /* Microsoft Edge */
   color: var(--secondary-text-color);
}
.search-input input::placeholder { /* Most modern browsers support this now. */
   color: var(--secondary-text-color);
}
.modal-close-btn {
    width: 20px;
    height: 20px;
    padding: 1px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}
.modal-close-btn i {
    color: var(--secondary-text-color);
    transition: all 0.3s ease;
}
.modal-close-btn:hover {
    background: #e9ecef;
}
.modal-close-btn:hover i {
    color: var(--danger-color);
}
.inventory-modal-form input,
.inventory-modal-form select {
    border: 1px solid #f0f0f1;
    outline: none;
    background: #f0f0f1;
    margin-bottom: 5px;
    font-size: 11px;
    box-shadow: none !important;
}
.inventory-modal-form input:focus,
.inventory-modal-form select:focus {
    border: 1px solid var(--theme-color);
}
.inventory-modal-header {
    border-bottom: 1px solid #f8f9fa;
    padding-bottom: 10px;
}